# Dependencies
node_modules/

# Build outputs
dist/
#chache de configuration typescript
*.tsbuildinfo 

# IDE
.vscode/

# Prisma
/prisma/generated/prisma

/generated/prisma

/generated/prisma

/generated/prisma

/generated/prisma
