services:
  frontend:
    container_name: frontend
    build: ./frontend
    volumes:
      - frontend-build:/app/dist 
    depends_on:
      - backend
    networks:
      - app-network
  
  backend:
    container_name: backend
    build: ./backend
    env_file:
      - .env
    ports:
      - "3100:3100"
    depends_on:
      bd:
        condition: service_healthy
    networks:
      - app-network

  nginx:
    container_name: nginx
    image: nginx:alpine
    ports:
      - "443:443"  # HTTPS obligatoire
      - "80:80"    # HTTP (optionnel, pour redirection)
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
      - frontend-build:/usr/share/nginx/html:ro
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

  bd:
    container_name: bd
    image: mariadb:10.11
    command: '--default-authentication-plugin=mysql_native_password'
    environment:
      MYSQL_ROOT_PASSWORD: ${BDD_ROOT_PWD}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - app-network
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD-SHELL", "mariadb-admin ping -h localhost -u $$MYSQL_USER --password=$$MYSQL_PASSWORD"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  mariadb_data:
  frontend-build:

networks:
  app-network:
    driver: bridge