@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    @apply leading-relaxed font-normal;

    /* @apply text-white/87 bg-gray-900; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    @apply font-medium text-inherit no-underline;
  }
  a:hover {
    @apply text-inherit;
  }

  body {
    @apply bg-gray-900 text-white min-h-screen m-0;
  }
}

/* @layer components {
  .centerd-page {
    @apply flex place-items-center min-h-screen;
  }

  .markdown-p {
    @apply mb-4 leading-relaxed break-words;
  }
  
  .markdown-ul {
    @apply list-disc pl-5 mb-4;
  }
  
  .markdown-h1 {
    @apply text-xl font-bold mb-4;
  }
  
  .markdown-h2 {
    @apply text-lg font-semibold mb-3;
  }
  
  .markdown-h3 {
    @apply text-base font-semibold mb-2;
  } */

