@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    @apply leading-relaxed font-normal;

    color-scheme: light dark;
    @apply text-white/87 bg-gray-900;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    @apply font-medium text-inherit no-underline;
  }

  a:hover {
    @apply text-inherit;
  }

  body {
    @apply m-0 min-w-80 min-h-screen;
  }
}

@layer components {
  .centerd-page {
    @apply flex place-items-center min-h-screen;
  }
}

@media (prefers-color-scheme: light) {
  @layer base {
    :root {
      @apply text-gray-800 bg-white;
    }

    a:hover {
      @apply text-blue-400;
    }
  }
}
