@import "tailwindcss";

@layer components
{
    .all_chat_screen {
        @apply h-screen pt-25 pb-5;
    }
    .chat_screen {/* plus besoin de la couleur */
        @apply flex mx-5 h-full;
    }

    /* 88888888888888888888888888888888888888888888888888 */

    .box_friend {
        @apply bg-amber-500;
        @apply h-13 py-2 px-2;
        @apply rounded-tr-lg;
        @apply flex gap-3
    }

    .friend_status {
        @apply absolute;
        @apply bottom-2 right-0 w-2 h-2;
        @apply border-1 border-white rounded-full;

    }

    /* 88888888888888888888888888888888888888888888888888 */

    .box_list {
        @apply bg-gray-500;
        @apply flex-1;
        @apply rounded-bl-lg;
    }

    .display_lst {
        @apply bg-gray-400 ;
        @apply px-2 py-2 my-1 mx-1;
        @apply hover:bg-orange-500 transition;
        @apply rounded-lg;
    }

    .display_status {
        @apply absolute;
        @apply bottom-0 right-0 w-3 h-3;
        @apply border-1 border-white rounded-full;
    }

    /* 88888888888888888888888888888888888888888888888888 */
    
    .box_message {
        @apply bg-gray-400;
        @apply flex-1 px-2 py-2;
        @apply overflow-y-auto;
    }
    .display_Msg {
        @apply bg-gray-600 ;
        @apply px-2 py-2 my-2;
        @apply rounded-sm;
    }

    /* 88888888888888888888888888888888888888888888888888 */

    .box_send {
        @apply bg-gray-600 py-2 px-4;
        @apply flex gap-3;
        @apply rounded-br-lg;
    }
    .send_msg {
        @apply bg-gray-500;
        @apply flex-1 px-2 py-2;
        @apply rounded-lg;
        @apply focus:outline-none focus:ring-2 focus:ring-green-400;
    }
    .send_but {
        @apply bg-orange-400;
        @apply hover:bg-orange-500 transition;
        @apply rounded-lg;
        @apply px-6 py-2;
    }

    /* 88888888888888888888888888888888888888888888888888 */
    .box_search {
        @apply bg-red-300;
        @apply h-13;
        @apply py-1 px-1;
        @apply rounded-tl-lg;
        @apply bg-yellow-600;

    }
    .search {
        
        @apply bg-gray-400;
        @apply h-full w-full;
        @apply border border-gray-300;
        @apply rounded-md;
        @apply focus:outline-none focus:ring-2 focus:ring-green-400;        
    }
}