@import "tailwindcss";

@layer components
{
    .btn-play{
        @apply bg-blue-500 hover:bg-blue-700 text-white
        font-bold py-5 px-10 rounded-full;
    }
    
    .btn-online{
        @apply bg-green-500 hover:bg-green-700;
    }
}

