@import "tailwindcss";

@layer components
{
    .all_screen {
        @apply h-screen pt-30 pb-8 px-5
        flex h-screen gap-25
    }

    .left {
        @apply w-50
        flex flex-col
        overflow-hidden
        bg-gray-900
        /* shrink-0 */
    }
    /* ── Notification ──────────────────────────────────────────────── */

    .box_notif {  /* afficher bouton vers notif */
        @apply p-3
        
        flex gap-3
        md:flex-col
        /* overflow-auto */
        border-y-1
    }

    .notif {
        @apply
        rounded-lg p-3
        items-center
        bg-blue-400
        relative
    }

    .box_search {
        @apply bg-gray-700
        dark:bg-gray-600
        px-2
        flex gap-2
        rounded-lg
    }

    .input {
       @apply w-full
       /* focus:border focus:rounded-lg focus:border-gray-800 */
       outline-none
    }

    .show_notif {
        @apply grid grid-cols-2 gap-10
        overflow-auto overflow-x-auto
        bg-gray-900
        h-full
    }

    .title_notif {
        @apply border-b border-gray-600 p-2
    }

    .box_icon {
        @apply flex gap-8 shrink-0
    }
    .icon_notif {
        @apply w-8 h-8 shrink-0
        hover:bg-gray-700 transition rounded-full
    }

    .items {
        @apply flex p-3 items-center gap-5
        hover:bg-gray-700 transition rounded-full
    }

    .avatar_notif {
        @apply rounded-full w-9 h-9
    }

    .username_notif {
        @apply truncate mr-auto
    }
    
    .msg_counter {
        @apply border rounded-full w-7 h-7
        shrink-0 bg-green-400
    }
    /* ── Myself ──────────────────────────────────────────────── */

    .box_me {
        @apply px-3
        bg-gray-900
        items-center
    }

    .display_me {
        @apply m-1
        relative
        rounded-lg
        px-2 py-2 mb-1
        flex gap-2
        items-center
        hover:bg-orange-600 transition
    }


    /* ── Friend list ──────────────────────────────────────────────── */
    .box_lst_friend {
        @apply flex flex-col
        gap-1 p-2
        overflow-auto
    }

    
    .display_friends {
        @apply m-1
        relative
        rounded-lg
        px-2 py-2 mb-1
        flex gap-2
        items-center
        hover:bg-orange-600 transition
    }

    .status {
        @apply absolute
        left-8 bottom-2
        rtl:left-auto rtl:right-8
        w-3 h-3
        border-1 border-white rounded-full
    }

    /* ── Profile ──────────────────────────────────────────────── */
    .box_profile {
        @apply overflow-auto
        flex-1 flex flex-col
        gap-3
    }

    .profile_banner {
        @apply 
        bg-gray-900
        flex flex-col md:flex-row
        /* md:grid grid-cols-[auto_1fr_auto] */
        p-3
        gap-5
        /* md:m-35 */
        /* overflow-x-auto */
    }

    .box_avatar {
        @apply 
        relative
        flex-none
        /* bg-red-400 */
        md:w-40 md:h-auto
        w-32 h-32 
        /* rounded-full */
        self-center
        /* w-32 */
        p-2
        /* shrink-0 justify-self-start */
    }
    .avatar {
       @apply rounded-full
       /* w-30 md:h-30 */
       /* w-10 h-10 */
       /* shrink-0  */
    }

    .avatar_btn {
        @apply bg-blue-300
        absolute
        rounded-full w-8 h-8
        left-24 top-27
        md:left-30 md:top-34
        flex items-center justify-center
    }

    .box_data {
        @apply 
        md:w-96 md:h-auto  flex-auto
        /* h-30 */
        flex flex-col
        /* px-40 */
        p-2
        gap-5
        self-center
        /* justify-self-center */
        /* absolute left-1/2 -translate-x-1/2 */
        /* text-center */
        /* bg-red-300 */
    }

    

    .data_txt_username {
        @apply truncate text-2xl self-center
    }

    .data_txt_email {
        @apply text-gray-600 dark:text-gray-300
    }

    .data_btn {
        @apply bg-blue-500
        flex gap-2 justify-center items-center
        p-2
        rounded-lg hover:bg-blue-600 transition
    }

    .delete_btn {
        @apply bg-red-500
        py-1 px-2
        items-center 
        rounded hover:bg-red-600 transition
    }

    .add_btn {
        @apply bg-green-500
        py-1 px-2
        items-center
        rounded hover:bg-green-600 transition
    }

    .pending_btn {
        @apply bg-green-500
        py-1 px-2
        items-center
        rounded
    }

    .box_form {
        @apply flex justify-center flex-1
    }

    .form {
        @apply bg-gray-800 rounded-lg p-2
    }

    .box_input_form {
        @apply flex flex-col gap-3
    }

    .input_form {
        @apply w-full
        flex items-center
        bg-gray-800 p-2
        rounded-xl border border-gray-600
        gap-2 relative
    }

    .error_input {
        @apply text-left text-red-500 text-xs
    }

    .icon {
        /* @apply absolute right-5 cursor-pointer */
        @apply absolute inset-e-5 cursor-pointer
    }

    .box_btn_form {
        @apply mt-5 flex justify-center gap-10
    }

    .btn_save {
        @apply rounded-xl
        mt-3 p-2
        bg-blue-500
        hover:bg-blue-600 transition
    }

    .btn_cancel {
        @apply rounded-xl
        mt-3 p-2
        bg-gray-700
        hover:bg-gray-600 transition
    }

    /* ── scoreboard ──────────────────────────────────────────────── */
    /* .scoreboad_frame {
        @apply bg-gray-900
            
        @apply flex-1
        @apply overflow-hidden

        @apply border border-indigo-500
        
    } */
    .scoreboad_frame {
        @apply bg-gray-900
        flex flex-col flex-1 p-5
        overflow-auto overflow-x-auto
        border border-indigo-500
    }
    
}
