@import "tailwindcss";

.all_score_screen {
    @apply h-screen pt-25 pb-5;
}

.top_screen {/* plus besoin de la couleur */       
    @apply mx-20 h-full;
}

.inidicator {
    @apply w-1/3;
    @apply rounded-lg;
    @apply bg-red-500;
    @apply py-2.5;
}

.game {
    @apply w-1/3;
    @apply rounded-lg;
    @apply bg-green-500;
    @apply py-3;
}