* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
            to top, #ffda77, #ffa45b);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 6vh;
}

 .board {
    width: 70vw;
    max-width: 1200px;
    aspect-ratio: 2 / 1;
    background-image: linear-gradient(
        to right, #5c6e91, #839b97);
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    margin: 18px auto 0; /* push board slightly below header/scores */
 }

.center-line {
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #000;
    transform: translateX(-50%);
    z-index: 1;
}

.ball {
    width: 3%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at 30% 30%, #fff, #a0a0ff 50%, #6060ff);
    box-shadow: 0 0 18px #fff, 0 0 30px #8080ff;
}

.paddle {
    width: 2.5%;
    height: 20%;
    border-radius: 50px;
    position: absolute;
}

.paddle_1 {
    left: 3%;
    top: 40%;
    box-shadow: inset 0 0 18px #fff,
        inset -6px 0 18px #f3bad6,
        inset 6px 0 18px #0ff,
        inset -6px 0 30px #f3bad6,
        inset 6px 0 30px #0ff,
        0 0 18px #fff, 4px 0 18px
        #f3bad6, -4px 0 18px #0ff;
}

.paddle_2 {
    right: 3%;
    top: 40%;
    box-shadow: inset 0 0 18px #fff,
        inset 6px 0 18px #f3bad6,
        inset -6px 0 18px #0ff,
        inset 6px 0 30px #f3bad6,
        inset -6px 0 30px #0ff,
        0 0 18px #fff, -4px 0 18px
        #f3bad6, 4px 0 18px #0ff;
}

.player_1_score {
    height: 50px;
    width: 50px;
    color: chartreuse;
    position: fixed;
    top: 10px;
    left: calc(50% - 30vw + 4%);
    margin-top: 0;
}

.player_2_score {
    height: 50px;
    width: 50px;
    color: chartreuse;
    position: fixed;
    top: 10px;
    left: calc(50% + 30vw - 8%);
    margin-top: 0;
}

.message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    color: #c9cbff;
    margin: 0;
    text-align: center;
    font-size: 24px;
}